<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='visual/ico/star.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/PP_1/PP_1-style.css') }}">
  <title>[JSQ] interpretacija rezultata</title>
</head>

<body>
  <div class="header">
    <p id="main_title">UPITNIK ZA PROCENU ZADOVOLJSTVA POSLOM</p>
    <p id="sub_title">INTERPRETACIJA REZULTATA I AKTIVNOSTI</p>
    <div class="header_line"></div>
  </div>

  <table id="interpretacija_table">
    <colgroup>
      <col span="1" style="width: 100%;">
    </colgroup>
    <tbody>
      <tr>
        <th id="int_title">INTERPRETACIJA REZULTATA</th>
      </tr>
      <tr>
        <td id="blank"></td>
      </tr>
      <tr>
        <td>Interpretacija rezultata upitnika za procenu zadovoljstva poslom se obavlja na celoj populaciji.
        </td>
      </tr>
      <tr>
        <td id="blank"></td>
      </tr>
      <tr>
        <td id="size">Veličina testirane populacije: </td>
      </tr>
      <tr>
        <td id="blank"></td>
      </tr>

      <tr>
        <td>FAKTORI ZADOVOLJSTVA POSLOM SA NAJVIŠIM SKOROM:</td>
      </tr>
      <tr>
        <td id="high_factor_1"></td>
      </tr>
      <tr>
        <td id="high_factor_2"></td>
      </tr>
      <tr>
        <td id="high_factor_3"></td>
      </tr>
      <tr>
        <td id="blank"></td>
      </tr>


      <tr>
        <td>FAKTORI ZADOVOLJSTVA POSLOM SA NAJNIŽIM SKOROM: </td>
      </tr>
      <tr>
        <td id="low_factors_1"></td>
      </tr>
      <tr>
        <td id="low_factors_2"></td>
      </tr>
      <tr>
        <td id="low_factors_3"></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td id="blank"></td>
      </tr>
      <tr>
        <td id="blank"></td>
      </tr>
      <tr>
        <th id="int_title2">AKTIVNOSTI ZA POBOLJŠANJE ZADOVOLJSTVA ZAPOSLENIH</th>
      </tr>
      <tr>
        <td id="blank"></td>
      </tr>
      <tr>
        <td>Aktivnosti su koncipirane u cilju povećanja zadovoljstva zaposlenih, uzimajući u obzir troškove primene
          tih aktivnosti.</td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td class="contruct"><br>AKTIVNOSTI NISU DOSTUPNE U TRENUTNOJ VERZIJI APLIKACIJE</td>
      </tr>
      <tr>
        <td class="contruct"><br>Upitnik za procenu zadovoljstva poslom se može koristiti kao dijagnostički alat radi
          utvrđivanja problematičnih aspekata zadovoljstva poslom.</td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="footer">
    <h2 class="menu_item1" style="cursor: pointer;"><a class="menu_item1" href="{{ url_for('pp_1_gen') }}">Generator
        URL-a</a></h2>
    <h2 class="menu_item2" style="cursor: pointer;"><a class="menu_item2" href="{{ url_for('pp_1_rez') }}">Rezultati</a>
    </h2>
    <h2 style="color: rgb(255, 255, 255);" class="menu_item3">
      Interpretacija</h2>
    <h2 class="menu_item4" style="cursor: pointer;"><a class="menu_item4" href="{{ url_for('pp_1_inst') }}">Upitnik</a>
    </h2>
    <h2 class="menu_back" style="cursor: pointer;"><a class="menu_back" href="{{ url_for('main_page_redirect') }}">Izbor
        instrumenta</a></h2>
  </div>


  <script type="text/javascript" src="{{ url_for('static', filename='scripts/PP_1/pp_1_int.js') }}"></script>
</body>

</html>