<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='visual/ico/star.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/PP_1/PP_1-style.css') }}">
  <title>Upitnik za procenu zadovoljstva poslom</title>
</head>

<body>
  <div class="header">
    <p id="main_title">UPITNIK ZA PROCENU ZADOVOLJSTVA POSLOM</p>
    <p id="sub_title">SISTEM RADNE-PSIHOMETRIJSKE PROCENE</p>
    <div class="header_line"></div>
  </div>
  <div class="explanation" id="explanation">
    <p>Demo verzija upitnika za procenu zadovoljstva poslom je modifikovana verzija MSQ (Minnesota Satisfaction
      Questionnaire) upitnika.<br> <br>Upitnik za procenu zadovoljstva poslom je koncipiran oko 20 faktora zadovoljstva
      poslom. U
      demo postavci upitnik sadrži jedno pitanje za svaki faktor zadovoljstva. Odgovori na pitanja su
      određeni Likertovom petostepenom skalom.</p>
    <p>Rezultati se prikazuju za celokupnu populaciju i pružaju informacije o kritičnim aspektima zadovoljstva poslom.
    </p>
  </div>

  <table id="description_table">
    <colgroup>
      <col span="1" style="width: 100%;">
    </colgroup>
    <tbody>
      <tr>
        <td>FAKTORI ZADOVOLJSTVA POSLOM</td>
      </tr>
      <tr>
        <td>- Opterećenost poslom</td>
      </tr>
      <tr>
        <td>- Ravnoteža posao / život</td>
      </tr>
      <tr>
        <td>- Stabilnost posla</td>
      </tr>
      <tr>
        <td>- Radni uslovi</td>
      </tr>
      <tr>
        <td>- Autonomija rada i fleksibilnost posla</td>
      </tr>
      <tr>
        <td>- Vrednovanje učinaka rada</td>
      </tr>
      <tr>
        <td>- Raznovrsnost radnih zadataka</td>
      </tr>
      <tr>
        <td>- Kompenzacija</td>
      </tr>
      <tr>
        <td>- Unutar-kompanijska komunikacija</td>
      </tr>
      <tr>
        <td>- Izazovi </td>
      </tr>
      <tr>
        <td>- Stepen angažovanja ličnih kompetencija </td>
      </tr>
      <tr>
        <td>- Napredovanje</td>
      </tr>
      <tr>
        <td>- Odnos sa nadređenima</td>
      </tr>
      <tr>
        <td>- Nivo stresa</td>
      </tr>
      <tr>
        <td>- Odnos sa kolegama </td>
      </tr>
      <tr>
        <td>- Pristup menadžmenta u rešavanju interpersonalnih &nbsp&nbspkonflikata </td>
      </tr>
      <tr>
        <td>- Prilike za profesionalni razvoj</td>
      </tr>
      <tr>
        <td>- Beneficije</td>
      </tr>
      <tr>
        <td>- Kompetnetnost menadžmenta</td>
      </tr>
      <tr>
        <td>- Osećaj pripadnosti</td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="footer">

    <h2 class="menu_item1" style="cursor: pointer;"><a class="menu_item1" href="{{ url_for('pp_1_gen') }}">Generator
        URL-a</a></h2>

    <h2 class="menu_item2" style="cursor: pointer;"><a class="menu_item2" href="{{ url_for('pp_1_rez') }}">Rezultati</a>
    </h2>

    <h2 class="menu_item3" style="cursor: pointer;"><a class="menu_item3"
        href="{{ url_for('pp_1_int') }}">Interpretacija</a></h2>


    <h2 class="menu_item4" style="cursor: pointer;"><a class="menu_item4" href="{{ url_for('pp_1_inst') }}">Upitnik</a>
    </h2>

    <h2 style="cursor: pointer;" class="menu_item5" id="help">
      Uputstvo</h2>

    <h2 class="menu_back" style="cursor: pointer;"><a class="menu_back"
        href="{{ url_for('main_page_redirect') }}">Izbor instrumenta</a></h2>
  </div>

  <!-- Modal content -->
  <div id="modal_main" class="modal">
    <div class="modal-content">
      <div class="modal_title">UPUTSTVO ZA KORIŠĆENJE:</div>
      <span class="close">&times;</span>
      <p>1. Na stranici Generator URL-a se generiše link upitnika koji se
        šalje ispitaniku na popunjavanje. Trajanje generisanog linka se definiše na stranici Podešavanja [default: 12 časova].
        <br>2. Nakon završenog popunjavanja, rezultati će biti prikazani na stranici Rezultati.
        <br>3. Interpretacija rezultata i smernice za povećanje zadovoljstva su date na stranici Interpretacija.
        <br>4. Funkcionalan template upitnika se nalazi na stranici Upitnik.
      </p>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/PP_1/pp_1.js') }}"></script>
</body>

</html>