<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='visual/ico/star.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/PP_0/PP_0-finished.css') }}">
  <title>[MBTI] interpretacija</title>

</head>

<body>
  <div class="header">
    <p id="main_title">MBTI INTERPRETACIJA</p>
    <p id="sub_title">{{ user_mbti_data }}</p>
    <div class="header_line"></div>
  </div>

  <div class="explanation" id="explanation">
    <div id="int_title">
    </div>
    <div id="int_sub_title">
    </div>
    <div id="dimensions">
      <p id="dimEI"></p>
      <p id="dimSN"></p>
      <p id="dimTF"></p>
      <p id="dimJP"></p>
    </div>

    <div id="int_description">
      <p id="int_description_title">OPIS</p>
      <p id="int_description_text"></p>
    </div>


    <div id="int_career">
      <p id="int_career_title">KARIJERA</p>
      <p id="int_career_text"></p>
    </div>


    <p id="str_title">SNAGE</p>
    <table id="str_table">
      <colgroup>
        <col span="1" style="width: 100%;">
      </colgroup>
      <tbody>
        <tr>
          <th></th>
        </tr>
        <tr>
          <td></td>
        </tr>


      </tbody>
    </table>
    <p id="weak_title">SLABOSTI</p>
    <table id="weak_table">
      <colgroup>
        <col span="1" style="width: 100%;">
      </colgroup>
      <tbody>
        <tr>
          <th></th>
        </tr>
        <tr>
          <td></td>
        </tr>

      </tbody>
    </table>
    <p id="sug_title">SUGESTIJE ZA BOLJI KVALITET ŽIVOTA</p>
    <table id="sug_table">
      <colgroup>
        <col span="1" style="width: 100%;">
      </colgroup>
      <tbody>
        <tr>
          <th></th>
        </tr>
        <tr>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>


  <div class="footer">
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript"
    src="{{ url_for('static', filename='scripts/PP_0/pp_0-zavrseno_results.js') }}"></script>
</body>

</html>