<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='visual/ico/star.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/PP_0/PP_0-style.css') }}">
    <title>MYER-BRIGGS TEST LIČNOSTI</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="header">
        <p id="main_title">MYER-BRIGGS TYPE INDICATOR (MBTI)</p>
        <p id="sub_title">MYER-BRIGGS TEST LIČNOSTI</p>
        <div class="header_line"></div>
    </div>
    <div class="question_container">
        <p id="question_title">PITANJE:</p>
        <p id="question"></p>
        <div id="answer_container">
            <div id="left_a"></div>
            <div id="middle_a"></div>
            <div id="right_a"></div>            
        </div>
    </div>
    <br>

    <div class="footer">
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/PP_0/pp_0_instrument.js') }}"></script>
</body>

</html>