<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='visual/ico/star.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>informacije o aplikaciji</title>
</head>

<body>
    <div class="header">
        <p id="main_title">SISTEM POSLOVNO-PSIHOMETRIJSKE PROCENE</p>
        <p id="sub_title">INFORMACIJE O APLIKACIJI</p>
        <div class="header_line"></div>
    </div>
    <div class="info_container" id="info_container">
        <p id="info_title"></p>
        <br>
        <p id="info_text">Sistem poslovno psihometrijske procene je open-source aplikacija konstruisana u cilju
            grupisanja psiholoških instrumenata za procenu i korisnih HR alata na jednom mestu.
            Sistem poslovno psihometrijske procene je u početnoj fazi razvoja, uključujući korisnički interfejs,
            funkcionalnost i sadržaj aplikacije.
            <br><br>
            Koršćene tehnoogije: Python, Flask, JS i MySQL.
            Nakon alpha faze razvoja aplikacije, kompletan kod aplikacije će biti dostupan na public repository
            GitHub-a.
            <br><br>
            Doprinos: Psihometrijski instrumenti za procenu i drugi HR alati čije korišćenje nije ograničeno licencom, a
            koje
            ste voljni podeliti sa kolegama, pošaljite na kontakt e-mail autora aplikacije. Instrumenti će, nakon
            provere i odobrenja od strane saradnika biti dodati u Sistem
            poslovno-psihometrijske procene.
            <br><br><br><br>
            Napomena: Tumačenje rezultata psiholoških instrumenata bi trebalo da obavlja stručno lice.
        </p>
        <br>
        <p id="info_text_center">Autora aplikacije moćete kontaktirati na e-mail: <a
                href="mailto:jovica.bozic@nivian.rs">jovica.bozic@nivian.rs</a></p>

    </div>

    <div class="content">

    </div>

    <div class="footer">
        <h2 class="menu_item1"><a href="{{ url_for('main_page_redirect') }}"
                style="color: rgb(214, 214, 214); text-decoration: none;">Pregled instrumenata</a>
        </h2>
    </div>
    
</body>
</html>