<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='visual/ico/star.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <title>Izbor psihometrijskog instrumenta</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class="header">
    <p id="main_title">SISTEM POSLOVNO-PSIHOMETRIJSKE PROCENE</p>
    <p id="sub_title">IZBOR INSTRUMENTA ZA PROCENU</p>
    <div class="header_line"></div>
  </div>
  <div class="explanation" id="explanation">
    <p>
      <span>Iz pregleda izaberite instrument psihološke procene</span>
    </p>
  </div>
  <div class="content">
    <table id="pps_table">
      <colgroup>
        <col span="1" style="width: 100%;">
      </colgroup>
      <tbody>
        <tr>
          <th>PREGLED PSIHOLOŠKIH INSTRUMENTATA</th>
        </tr>

        <tr>
          <td class="active" id="pp_0">
            <a href="{{ url_for('pp_0') }}" style="color: rgb(0, 0, 0); text-decoration: none;">
              Myers-Briggs Type Indicator [MBTI]
            </a>
          </td>
        </tr>

        <tr>
          <td class="active" id="pp_1">
            <a href="{{ url_for('pp_1') }}" style="color: rgb(0, 0, 0); text-decoration: none;">
              Upitnik za procenu zadovoljstva poslom [NS-JSQ]
            </a>
          </td>
        </tr>

        <tr>
          <td class="active" id="pp_2">
            <a href="{{ url_for('pp_2') }}" style="color: rgb(0, 0, 0); text-decoration: none;">
              Check-lista za dijagnostiku psihopatije [PCL-R]
            </a>
          </td>
        </tr>

        <tr>
          <td class="inactive" id="pp_3">OCAI [Organizational Culture Assessment Instrument] (u pripremi)</td>
        </tr>
        <tr>

        <tr>
          <td class="inactive" id="pp_4">JDI [Job Descriptive Index] (u pripremi)</td>
        </tr>
        <tr>

        <tr>
          <td class="inactive" id="pp_5">MBI [Maslach Burnout Inventory] (u pripremi)</td>
        </tr>
        <tr>

        <tr>
          <td class="inactive" id="pp_6">PSS [Perceived Stress Scale] (u pripremi)</td>
        </tr>
        <tr>

        <tr>
          <td class="inactive" id="pp_7">BRS [Brief Resilience Scale] (u pripremi)</td>
        </tr>
        <tr>

          <td class="inactive" id="pp_12">Procena radne efikasnosti (u pripremi)</td>
        </tr>
        <tr>
          <td class="inactive" id="pp_3">JDS [The Job Diagnostic Survey] (u pripremi)</td>
        </tr>
        <tr>
          <td class="inactive" id="pp_5">Procenu efektivnosti timskog rada (u pripremi)</td>
        </tr>
        <tr>
          <td class="inactive" id="pp_6">Procena emocionalne inteligencije (u pripremi)</td>
        </tr>
        <tr>
          <td class="inactive" id="pp_9">Procena kritičkog mišljenja (u pripremi)</td>
        </tr>
        <tr>
          <td class="inactive" id="pp_10">Procena komunikacionih veština (u pripremi)</td>
        </tr>
        <tr>
          <td class="inactive" id="pp_11">OSI [The Occupational Stress Inventory] (u pripremi)</td>
        </tr>
        <tr>
          <td class="blank">&nbsp
          </td>
        </tr>
        <tr>
        <tr>
          <td class="blank">&nbsp
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer">

    <h2 class="menu_item1"><a a href="{{ url_for('info') }}"
        style="color: rgb(214, 214, 214); text-decoration: none;">Info</a></h2>

    <h2 class="menu_item2"><a href="{{ url_for('settings') }}"
        style="color: rgb(214, 214, 214); text-decoration: none;">Podešavanja</a></h2>

    <h2 class="menu_item2"><a href="{{ url_for('logout') }}"
        style="color: rgb(214, 214, 214); text-decoration: none;">Logout</a></h2>
  </div>

</body>

</html>