<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='visual/ico/star.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/upitnik_error.css') }}">
    <title>procena završena</title>
</head>

<body>
    <div class="header">
        <p id="main_title"></p>
        <p id="sub_title"></p>
        <div class="header_line"></div>
    </div>
    <div class="explanation" id="explanation">
        <p>Procena je završena. <br> <br> Hvala na učešću.</p>
        <br>
    </div>
    <div class="content">

    </div>

    <div class="footer">
    </div>


    </body>

</html>