@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
    background: url("../../visual/images/backgound.png") repeat;
}

/*HEADER*/
.header {
    position: relative;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

#main_title {
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    margin-bottom: 1px;
    font-size: 20px;
}

#sub_title {
    color: rgb(169, 169, 169);
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 2px;
    font-size: 14px;
}

.header_line {
    position: absolute;
    bottom: 0;
    background-color: rgb(157, 157, 157);
    width: 100%;
    height: 3px;
}

/*EXPLANATION*/
.explanation {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    margin: 0;
    width: 100%;
    max-width: 600px;
    margin-top: 60px;
    text-align: justify;
}

.explanation>p {
    text-align: center;
}

.explanation>ul {
    position: relative;
    left: 80%;
    transform: translateX(-50%);
}


.tl_title {
    text-align: center;
    font-weight: 600;
}

.tl_sub_title {
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
}

.tl_description {
    font-size: 16px;
    text-align: justify;
    color: #4c4c4c;
}


/*MENU*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    height: 3%;
    display: flex;
    align-items: center;
    background-color: #222222;
}

.footer>h2 {
    cursor: pointer;
    color: rgb(171, 171, 171);
    font-weight: 100;
    font-size: 16px;
    padding-right: 18px;
}

.footer>h2:hover {
    color: rgb(255, 255, 255);
}

.footer>h2>a {
    cursor: pointer;
    color: rgb(171, 171, 171);
    font-weight: 100;
    font-size: 16px;
    text-decoration: none;
}

.footer>h2>a:hover {
    color: rgb(255, 255, 255);
}

.menu_back {
    margin-left: auto;
    margin-right: 5px;
    color: rgb(171, 171, 171);
    text-decoration: none;
}

.menu_back:hover {
    color: rgb(255, 255, 255);
}


/*PRVA STRANICA: INFO*/
#description_table {
    table-layout: fixed;
    border-collapse: collapse;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 300px !important;
}

.MBTI_header {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}

/*GENERATOR*/
.generator_content {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    width: 100%;
    max-width: 400px;
    margin-top: 40px;
    height: 100px;
}

#gen_napomena {
    margin-top: -12px;
    font-size: 14px;
    color: #6e6e6e;
}

.link_container {
    height: 30%;
}

.link {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 15px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(136, 136, 136);
    text-align: center;

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

}

#pp0_button {
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

/*REZULTATI*/

/*Results table*/
.table_container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    margin: 0;
    margin-top: 2%;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px;
}



#results_title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 10px;
}

#results_subtitle {
    font-size: smaller;
    margin-top: -15px;
}

#results_table td {
    text-align: left;
    font-size: 15px;
    height: 30px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    border-bottom: 1px solid rgb(190, 190, 190);
    width: 100%;
}

#results_table td:nth-child(2) {
    text-align: center;
}

th {
    height: 30px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-align: left;
    font-weight: 500;
}

/*INTERPRETACIJA*/
#interpretacija_table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    width: 100%;
    max-width: 600px;
    margin-top: 52px;
}

#int_title {
    padding-bottom: 30px;
    font-size: 18px;
}

#int_title2 {
    padding-top: 30px;
    padding-bottom: 30px;

}

#interpretacija_table th {
    color: #000000;
    text-align: center;
    font-size: 20px;
}

.contruct {
    text-align: center;
}

#blank {
    height: 20px;
}

/*UPUTSTVO*/
.uputstvo_container {
    position: relative;
    width: 45%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.uputstvo_container>p {
    text-align: justify;
    color: rgb(66, 66, 66);
}

#uputstvo_title {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-bottom: 15px;
}

/*TEST*/
/*Test uputstvo*/
.pp0_instrument_username {
    color: rgb(0, 0, 0);
    padding: 4px;
    width: 300px;
    align-content: center;
    display: block;
    margin: auto;
    outline: none;
}

.pp0_instrument_button {
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    padding: 4px 18px;
    font-size: 14px;
    cursor: pointer;
    width: 200px;
    align-content: center;
    display: block;
    margin: auto;
}

.pp0_instrument_button:hover {
    background-color: rgb(223, 223, 223);
}

/*PITANJA*/
.question_container {
    background-color: rgba(217, 217, 217, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

#question_title {
    text-align: center;
    font-size: 17px;
    border: none;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}

#question {
    text-align: center;
    font-size: 17px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
}

#answer_container {
    display: flex;
    flex-wrap: nowrap;
}

#left_a {
    background-color: rgba(255, 255, 255, 0.5);
    width: 48%;
    margin: 15px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 15px;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left_a:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}

#middle_a {
    width: 4%;
    margin: 0px;
}

#right_a {
    background-color: rgba(255, 255, 255, 0.5);
    width: 48%;
    margin: 15px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 15px;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right_a:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}

#submit {
    margin-top: 50px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    padding: 4px 18px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    align-content: center;
    display: block;
    margin: auto;
    margin-top: 20px;
}

/*MODAL*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_title {
    margin: 0;
    color: #000000;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #888;
    background-color: #dbdbdb;
    text-align: center;
    font-size: 14px;
}

.modal-content {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 40%;
    font-size: 16px;


}

.close {
    color: #000000;
    float: right;
    font-size: 20px;
    margin-top: -23px;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: #cb4646;
    text-decoration: none;
    cursor: pointer;
}

/* PP0 modal */
.pp_0-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

.pp_0-modal-content {
    background-color: rgba(235, 235, 235, 1);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 50%;
    text-align: justify
}

.pp_0-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.pp_0-close:hover,
.pp_0-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#pp_0-modal-description {
    text-align: justify !important;
}

