<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='visual/ico/star.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/PP_2/PP_2-style.css') }}">
    <title>[PCL-R] instrument</title>
</head>

<body onload="clearRadio()">
    <div class="header">
        <p id="main_title">PCL-R</p>
        <p id="sub_title">PROCENA</p>
        <div class="header_line"></div>
    </div>

    <div class="table_container" id="table_container">
        <br>
        <p id="results_title">SKALA PCL-R PROCENE</p>
        <p id="results_subtitle"></p>
        <table id="instrument_table">
            <colgroup>
                <col span="1" style="width: 100%;">
            </colgroup>
            <tbody>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <td id="name_input">
                        <input type="text" class="pp2_instrument_name" name="pp2_instrument_name"
                            autocomplete="new-password">
                        <p id="name_description">Ime i prezime</p>
                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>
                <tr>
                    <td id="question">1. Površna ljubaznost/šarm</td>
                </tr>
                <tr>
                    <td id="answer">

                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="1_score_1" name="score1"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="1_score_2" name="score1"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="1_score_3" name="score1"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">2. Grandiozan osećaj sopstvene vrednosti</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="2_score_1" name="score2"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="2_score_2" name="score2"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="2_score_3" name="score2"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">3. Potreba za stimulacijom/sklonost ka dosadi</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="3_score_1" name="score3"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="3_score_2" name="score3"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="3_score_3" name="score3"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">4. Patološko laganje</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="4_score_1" name="score4"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="4_score_2" name="score4"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="4_score_3" name="score4"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">5. Varanje/manipulacija</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="5_score_1" name="score5"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="5_score_2" name="score5"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="5_score_3" name="score5"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">6. Nedostatak kajanja ili krivice</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="6_score_1" name="score6"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="6_score_2" name="score6"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="6_score_3" name="score6"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">7. Plitak afekt</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="7_score_1" name="score7"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="7_score_2" name="score7"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="7_score_3" name="score7"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">8. Bezosećajnost/nedostatak empatije</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="8_score_1" name="score8"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="8_score_2" name="score8"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="8_score_3" name="score8"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">9. Parazitski stil života</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="9_score_1" name="score9"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="9_score_2" name="score9"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="9_score_3" name="score9"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">10. Loša kontrola ponašanja</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="10_score_1" name="score10"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="10_score_2" name="score10"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="10_score_3" name="score10"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">11. Promiskuitetno seksualno ponašanje</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="11_score_1" name="score11"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="11_score_2" name="score11"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="11_score_3" name="score11"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">12. Rani problemi u ponašanju</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="12_score_1" name="score12"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="12_score_2" name="score12"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="12_score_3" name="score12"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">13. Nedostatak realističnih, dugoročnih ciljeva</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="13_score_1" name="score13"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="13_score_2" name="score13"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="13_score_3" name="score13"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">14. Impulsivnost</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="14_score_1" name="score14"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="14_score_2" name="score14"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="14_score_3" name="score14"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">15. Neodgovornost </td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="15_score_1" name="score15"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="15_score_2" name="score15"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="15_score_3" name="score15"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">16. Ne prihvatanje odgovornosti za sopstveno ponašanje</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="16_score_1" name="score16"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="16_score_2" name="score16"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="16_score_3" name="score16"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">17. Mnogo kratkotrajnih brakova</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="17_score_1" name="score17"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="17_score_2" name="score17"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="17_score_3" name="score17"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">18. Maloletnička delinkvencija</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="18_score_1" name="score18"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="18_score_2" name="score18"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="18_score_3" name="score18"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">19. Gubljenje uslovne slobode</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="19_score_1" name="score19"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="19_score_2" name="score19"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="19_score_3" name="score19"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>

                <tr>
                    <td id="question">20. Kriminalna spretnost</td>
                </tr>
                <tr>
                    <td id="answer">
                        
                        <div class="rad_container">
                            <label class="rad_container">ocena: 0&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="20_score_1" name="score20"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 1&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="20_score_2" name="score20"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                            <label class="rad_container">ocena: 2&nbsp;&nbsp;
                                <input type="radio" checked="checked" class="radio" id="20_score_3" name="score20"
                                    value="no">
                                <span class="rad_checkmark"></span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td id="blank"></td>
                </tr>
                <tr>
                    <td id="question"><input type="button" class="button" value="Unesi podatke" id="pp2_button"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer">
        <h2 class="menu_item2" style="cursor: pointer;"><a class="menu_item1" href="{{ url_for('pp_2') }}">Info</a>
        </h2>

        <h2 style="color: rgb(255, 255, 255);" class="menu_item1">PCL-R check-lista</a>
        </h2>

        <h2 class="menu_item2" style="cursor: pointer;"><a class="menu_item2"
                href="{{ url_for('pp_2_rezultati') }}">Rezultati</a>
        </h2>

        <h2 class="menu_back" style="cursor: pointer;"><a class="menu_back"
                href="{{ url_for('main_page_redirect') }}">Izbor
                instrumenta</a></h2>
    </div>



    <script type="text/javascript" src="{{ url_for('static', filename='scripts/PP_2/pp_2_instrument.js') }}"></script>
</body>

</html>